body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: white;
    font-size: 1.6rem;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.signin-box {
    display: flex;
    flex-direction: column;
    height: 450px;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #5e5e5e;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sign-in-button {
    font-size: 1.4rem;
    background-color: #0073b1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: #005f8d;
}

.join-now {
    text-align: center;
    margin-top: 20px;
}

.join-now a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
}

.join-now a:hover {
    text-decoration: underline;
}