body {
    background-color: #f2f4f7;
}
.main-title {
   font-size: 40px;
   text-align: center;
   color: black;
}
.errors {
    color: red;
    font-size: 16px;
}
.signup-box label {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 4px 0;
}

.terms {
    font-size: 12px;
    color: #5e5e5e;
    margin-top: 20px;
}

.terms a {
    color: #0073b1;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.sign-up-button {
    font-size: 1.4rem;
    background-color: #0073b1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #005f8d;
}

.sign-in {
    text-align: center;
    margin-top: 20px;
}

.sign-in a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
}

.sign-in a:hover {
    text-decoration: underline;
}
